<div class="row mt-4">
  <div class="col-md-12">
    <%= form_with(model: store, local: true) do |form| %>
      <% if store.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(store.errors.count, "error") %> impediram store de ser guardado:</h2>

          <ul>
            <% store.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :state, class: "col-sm-2 col-form-label" %>
        <% if current_user.admin? %>
          <%= form.select :state, enum_options_for_select(Store, :state), {}, class: "form-control" %>
        <% else %>
          <span class="form-control"><%= t('activerecord.enums.store.states.waiting_approval') %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :name, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :store_type, class: "col-sm-2 col-form-label" %>
        <%= form.select :store_type, enum_options_for_select(Store, :store_type), {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :open, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.check_box :open, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :group, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :group, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :street, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :street, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :zip_code, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :zip_code, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :city, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :district, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :district, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :country, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :country, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :latitude, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :latitude, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :longitude, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :longitude, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :capacity, class: "col-sm-2 col-form-label" %>
        <%= form.number_field :capacity, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :details, class: "col-sm-2 col-form-label" %>
        <%= form.text_area :details, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit t('views.form.submit'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
