<% content_for :page_title, Store.model_name.human(count: 2) %>
<% content_for :actions do %>
  <%= link_to I18n.t('views.actions.new'), new_store_path,
    class: 'btn btn-sm btn-outline-primary' %>
<% end %>

<h1 class="mt-5"><%= Store.model_name.human(count: 2) %></h1>

<%= form_tag stores_path, method: :get, class: 'form-inline' do %>
  <%= label_tag :search, 'Search', class: 'sr-only' %>
  <%= text_field_tag :search, params[:search], class: 'form-control col-md-6 mb-2 mr-sm-2',
    placeholder: I18n.t('views.stores.search.placeholder') %>
  <%= label_tag :group, 'Group', class: 'sr-only' %>
  <%= select_tag :group, options_for_select(Store.groups, params[:group]), class: 'form-control col-md-4 mb-2 mr-sm-2' %>
  <%= submit_tag I18n.t('views.stores.search.button'),
    class: 'btn btn-primary mb-2' %>
<% end %>

<table class="table table-sm">
  <thead>
    <tr>
      <th><%= Store.human_attribute_name(:name) %></th>
      <th><%= Store.human_attribute_name(:group) %></th>
      <th><%= Store.human_attribute_name(:street) %></th>
      <th><%= Store.human_attribute_name(:city) %></th>
      <th><%= Store.human_attribute_name(:latitude) %></th>
      <th><%= Store.human_attribute_name(:longitude) %></th>
      <th><%= Store.human_attribute_name(:capacity) %></th>
      <th><%= Store.human_attribute_name(:details) %></th>
      <th><%= I18n.t('views.actions.title') %></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.group %></td>
        <td><%= store.street %></td>
        <td><%= store.city %></td>
        <td><%= store.latitude %></td>
        <td><%= store.longitude %></td>
        <td><%= store.capacity %></td>
        <td><%= store.details %></td>
        <td>
          <%= link_to I18n.t('views.actions.show'), store %>
          |
          <%= link_to I18n.t('views.actions.edit'), edit_store_path(store) %>
          |
          <%= link_to I18n.t('views.actions.destroy'), store, method: :delete, data: { confirm: I18n.t('views.actions.confirm_destroy') } %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @stores %>
