 <% content_for :page_title, @store.name.titleize %>
<% content_for :actions do %>
  <%= link_to(I18n.t('views.actions.edit'), edit_store_path(@store),
    class: 'btn btn-sm btn-outline-primary')
    .concat(link_to(I18n.t('views.actions.back'), stores_path,
    class: 'btn btn-sm btn-outline-secondary')) %>
<% end %>

<h1 class="mt-5"><%= [@store.name, @store.city].compact.join(' - ') %></h1>

<p>
  <strong><%= Store.human_attribute_name(:name) %>:</strong>
  <%= @store.name %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:store_type) %>:</strong>
  <%= @store.store_type %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:group) %>:</strong>
  <%= link_to @store.group, stores_path(group: @store.group) %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:street) %>:</strong>
  <%= @store.street %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:zip_code) %>:</strong>
  <%= @store.zip_code %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:city) %>:</strong>
  <%= @store.city %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:district) %>:</strong>
  <%= @store.district %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:country) %>:</strong>
  <%= @store.country %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:latitude) %>:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:longitude) %>:</strong>
  <%= @store.longitude %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:capacity) %>:</strong>
  <%= @store.capacity %>
</p>

<p>
  <strong><%= Store.human_attribute_name(:details) %>:</strong>
  <%= @store.details %>
</p>

