<div class="row mt-4">
  <div class="col-md-12">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> impediram user de ser guardado:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name, class: "col-sm-2 col-form-label" %>
        <%= form.text_field :name, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :email, class: "col-sm-2 col-form-label" %>
        <%= form.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <% if current_user.admin? %>
        <div class="form-group">
          <%= form.label :role, class: "col-sm-2 col-form-label" %>
          <%= form.select :role, enum_options_for_select(User, :role), {}, class: "form-control" %>
        </div>
      <% else %>
        <div class="form-group">
          <%= form.label :role, class: "col-sm-2 col-form-label" %><br />
          <%= enum_l(form.object, :role) %>
        </div>
      <% end %>

      <% if current_user.admin? || current_user.general_manager? %>
        <div class="form-group">
          <%= form.label :store_ids, value: Store.model_name.human(count: 2),
            class: "col-sm-2 col-form-label" %>
          <%= form.select :store_ids, @user.stores&.collect{|s| [s.text, s.id]}, {},
            {class: "form-control store-managers-select", multiple: true} %>
        </div>
      <% end %>

      <% if can?(:new, User) && @user.new_record? %>
        <div class="form-group">
          <%= form.label :password, class: "col-sm-2 col-form-label" %>
          <%= form.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :password_confirmation, class: "col-sm-2 col-form-label" %>
          <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.submit t('views.form.submit'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
