
  <% content_for :page_title, @user.name.titleize %>

<% content_for :actions do %>
  <%= link_to(I18n.t('views.actions.edit'), edit_user_path(@user),
    class: 'btn btn-sm btn-outline-primary')
    .concat(link_to(I18n.t('views.actions.back'), users_path,
    class: 'btn btn-sm btn-outline-secondary')) %>
<% end %>
<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:admin) %>:</strong>
  <%= @user.admin %>
</p>

