<% content_for :page_title, @user.name&.titleize %>

<div class="row mt-5">
  <div class="col-md-10">
    <h1><%= @user.display_name %></h1>
  </div>
  <div class="col-md-2">
    <% if can? :edit, @user %>
      <%= link_to t('views.actions.edit'), edit_user_path(@user),
        class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
    <% if can? :read, :statuses_user %>
      <%= link_to t('views.users.show.statuses'), statuses_user_path(@user),
        class: 'btn btn-sm btn-outline-info' %>
    <% end %>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>
        <strong><%= User.human_attribute_name(:name) %>:</strong>
        <%= @user.name %>
        </p>

        <p>
        <strong><%= User.human_attribute_name(:email) %>:</strong>
        <%= @user.email %>
        </p>

        <p>
        <strong><%= User.human_attribute_name(:role) %>:</strong>
        <%= enum_l(@user, :role) %>
        </p>

        <% if @user.stores.any? %>
          <p><strong><%= Store.model_name.human(count: 2) %></strong>
          <ul>
            <% @user.stores.order(:name).each do |store| %>
              <li><%= link_to store.name, store %></li>
            <% end %>
          </ul>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @created_stores.any? %>
  <div class="row mt-2">
    <div class="col-md-12">
      <p class="h2"><%= t('views.users.show.stores_title') %></p>
      <%= form_tag @user, method: :get, class: 'form-inline' do %>
        <%= label_tag :search, 'Search', class: 'sr-only' %>
        <%= text_field_tag :search, params[:search], class: 'form-control col-md-3 mb-2 mr-sm-2',
          placeholder: t('views.stores.search.placeholder') %>
        <%= label_tag :store_type, 'Store type', class: 'sr-only' %>
        <%= select_tag :store_type, options_for_select(enum_options_for_select(Store, :store_type), params[:store_type]), {include_blank: t('views.stores.search.filter_store_type'), class: 'form-control col-md-3 mb-2 mr-sm-2'} %>
        <%= label_tag :group, 'Group', class: 'sr-only' %>
        <%= select_tag :group, options_for_select(Store.groups, params[:group]), {include_blank: t('views.stores.search.filter_group'), class: 'form-control col-md-2 mb-2 mr-sm-2'} %>
        <%= label_tag :state, 'State', class: 'sr-only' %>
        <%= select_tag :state, options_for_select(enum_options_for_select(Store, :state), params[:state]), {include_blank: t('views.stores.search.filter_state'), class: 'form-control col-md-2 mb-2 mr-sm-2'} %>
        <%= submit_tag t('views.stores.search.button'),
          class: 'btn btn-primary mb-2' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <%= render 'stores/table', stores: @created_stores %>
        </div>
      </div>
    </div>
  </div>
<% end %>
