<div class="container">
  <% content_for :page_title, @user.name&.titleize %>

  <div class="row mt-5">
    <div class="col-md-11">
      <h1><%= @user.name.presence || @user.email.presence || @user.app_uuid %></h1>
    </div>
    <% if can? :manage, @user %>
      <div class="col-md-1">
        <%= link_to I18n.t('views.actions.edit'), edit_user_path(@user),
          class: 'btn btn-sm btn-outline-primary' %>
      </div>
    <% end %>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <p>
        <strong><%= User.human_attribute_name(:name) %>:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong><%= User.human_attribute_name(:email) %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= User.human_attribute_name(:role) %>:</strong>
        <%= enum_l(@user, :role) %>
      </p>

      <% if @user.store_manager? %>
        <p><strong><%= Store.model_name.human(count: 2) %></strong>
          <ul>
            <% @user.stores.order(:name).each do |store| %>
              <li><%= link_to store.name, store %></li>
            <% end %>
          </ul>
        </p>
      <% end %>

      <p>
        <strong><%= User.human_attribute_name(:app_uuid) %>:</strong>
        <%= @user.app_uuid %>
      </p>
    </div>
  </div>
</div>
