<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="/"><%= I18n.t('views.layout.application.title') %></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if controller_name == 'stores' %>">
        <%= link_to stores_path, class: 'nav-link' do %>
          <%= Store.model_name.human(count: 2) %>
          <% if controller_name == 'stores' %>
            <span class="sr-only">(<%= I18n.t('views.shared.navbar.current') %>)</span>
          <% end %>
        <% end %>
      </li>
      <% if current_user&.admin? %>
        <li class="nav-item <%= 'active' if controller_name == 'users' %>">
          <%= link_to users_path, class: 'nav-link' do %>
            <%= User.model_name.human(count: 2) %>
            <% if controller_name == 'users' %>
              <span class="sr-only">(<%= I18n.t('views.shared.navbar.current') %>)</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
		</ul>
    <ul class="navbar-nav px-3">
      <% if current_user %>
        <li class="nav-item text-nowrap">
          <span class="nav-link"><%= current_user&.email %></span>
        </li>
        <li class="nav-item text-nowrap">
          <%= link_to I18n.t('views.shared.navbar.logout'), destroy_user_session_path,
            method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item text-nowrap">
          <%= link_to I18n.t('views.shared.navbar.login'), new_user_session_path,
            class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
	</div>
</nav>
