<%= page_entries_info status_crowdsource_users %>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th><%= StatusCrowdsourceUser.human_attribute_name(:store) %></th>
        <th><%= StatusCrowdsourceUser.human_attribute_name(:user) %></th>
        <th><%= StatusCrowdsourceUser.human_attribute_name(:status) %></th>
        <th><%= StatusCrowdsourceUser.human_attribute_name(:posted_at) %></th>
      </tr>
    </thead>

    <tbody>
      <% status_crowdsource_users.each do |status| %>
        <tr>
          <td><%= link_to status.store&.name, statuses_store_path(status.store) %></td>
          <td><%= link_to status.user&.display_name, statuses_user_path(status.user) %></td>
          <td><%= status.status&.round(3) %></td>
          <td><%= status.posted_at&.strftime('%H:%M %d/%m/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate status_crowdsource_users %>
</div>
