<% content_for :page_title, t('views.status_crowdsource_users.index.title') %>

<div class="row mt-5">
  <div class="col-md-12">
    <h1><%= StatusCrowdsourceUser.model_name.human(count: 2) %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= page_entries_info @status_crowdsource_users %>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th><%= StatusCrowdsourceUser.human_attribute_name(:store) %></th>
                <th><%= StatusCrowdsourceUser.human_attribute_name(:user) %></th>
                <th><%= StatusCrowdsourceUser.human_attribute_name(:status) %></th>
                <th><%= StatusCrowdsourceUser.human_attribute_name(:posted_at) %></th>
              </tr>
            </thead>

            <tbody>
              <% @status_crowdsource_users.each do |status| %>
                <tr>
                  <td><%= link_to status.store&.name, status.store %></td>
                  <td><%= link_to status.user&.display_name, status.user %></td>
                  <td><%= status.status&.round(3) %></td>
                  <td><%= status.posted_at&.strftime('%H:%M %d/%m/%Y') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @status_crowdsource_users %>
        </div>
      </div>
    </div>
  </div>
