<% content_for :page_title, Store.model_name.human(count: 2) %>

<div class="row mt-3">
  <div class="col-md-10">
    <h1><%= Store.model_name.human(count: 2) %></h1>
  </div>
  <div class="col-md-2">
    <% if can? :new, Store %>
      <%= link_to t('views.actions.new'), new_store_path,
        class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <%= form_tag manage_stores_path, method: :get, class: 'form-inline' do %>
      <%= label_tag :search, 'Search', class: 'sr-only' %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-md-10 mb-2 mr-sm-2',
        placeholder: t('views.stores.search.placeholder') %>
      <%= submit_tag t('views.stores.search.button'),
        class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= page_entries_info @user_stores %>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th><%= Store.human_attribute_name(:name) %></th>
                <th><%= UserStore.human_attribute_name(:approved) %></th>
                <th><%= Store.human_attribute_name(:state) %></th>
                <th><%= Store.human_attribute_name(:group) %></th>
                <th><%= Store.human_attribute_name(:street) %></th>
                <th><%= Store.human_attribute_name(:latitude) %></th>
                <th><%= Store.human_attribute_name(:longitude) %></th>
                <th><%= t('views.stores.form.phone_number') %></th>
                <th><%= t('views.manage_stores.index.latest_status') %></th>
                <th><%= t('views.actions.title') %></th>
              </tr>
            </thead>

            <tbody>
              <% @user_stores.each do |us| %>
                <% store = us.store %>
                <tr>
                  <td><%= link_to store.name, store %></td>
                  <td><%= us.approved? %></td>
                  <td><%= enum_l(store, :state) %></td>
                  <td><%= store.group %></td>
                  <td><%= store.address %></td>
                  <td><%= store.latitude&.round(3) %></td>
                  <td><%= store.longitude&.round(3) %></td>
                  <td><%= store.phones.pluck(:phone_number).join(' ') %></td>
                  <td><%= latest_status(store.latest_owner_status) %></td>
                  <td>
                    <% if us.approved? && can?(:edit, store) %>
                      <%= link_to t('views.actions.edit'), edit_store_path(store) %>
                    <% end %>
                    <% if us.approved? && can?(:new, StatusStoreOwner) %>
                      |
                      <%= link_to t('views.manage_stores.index.manage_link'),
                        new_store_status_store_owner_path(store) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @user_stores %>
        </div>
      </div>
    </div>
  </div>
</div>
