<div class="container mt-3">
  <h1><%= I18n.t('views.stats.index.title') %></h1>
</div>

<div class="row mt-4">
  <div class="col-md-12"><p class="h2"><%= t('views.stats.index.totals') %></p></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.total_users') %></h5>
        <table class="table table-sm">
          <tbody>
            <% User.roles.each do |r| %>
              <tr>
                <td><%= t("activerecord.enums.user.roles.#{r[0]}") %></td>
                <td><%= User.where(role: r).count %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= t('views.stats.index.total') %></th>
              <td><%= User.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.total_stores') %></h5>
        <table class="table table-sm">
          <tbody>
            <% Store.store_types.each do |r| %>
              <tr>
                <td><%= t("activerecord.enums.store.store_types.#{r[0]}") %></td>
                <td><%= Store.where(store_type: r, state: :live).count %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= t('views.stats.index.total') %></th>
              <td><%= Store.where(state: :live).count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.total_statuses') %></h5>
        <table class="table table-sm">
          <tbody>
            <% Store.store_types.each do |r| %>
              <tr>
                <td><%= t("activerecord.enums.store.store_types.#{r[0]}") %></td>
                <td><%= StatusCrowdsourceUser.joins(:store).where(stores: {store_type: r, state: :live}).count %></td>
              </tr>
            <% end %>
            <tr>
              <th><%= t('views.stats.index.total') %></th>
              <td><%= StatusCrowdsourceUser.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12"><p class="h3"><%= t('views.stats.index.break_per_day') %></p></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.users_per_day') %></h5>
        <%= line_chart @users_per_day %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.statuses_per_day') %></h5>
        <%= line_chart @statuses_per_day %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12"><p class="h3"><%= t('views.stats.index.daily_ranking') %></p></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.todays_stores_by_reports') %></h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Store.model_name.human(count: 1) %></th>
              <th><%= t('views.stats.index.total') %></th>
            </tr>
          </thead>
          <tbody>
            <% @todays_stores_by_reports.each do |store| %>
              <tr>
                <td><%= link_to store.name, statuses_store_path(store) %></td>
                <td><%= store.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.todays_users_by_reports') %></h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= User.model_name.human(count: 1) %></th>
              <th><%= t('views.stats.index.total') %></th>
            </tr>
          </thead>
          <tbody>
            <% @todays_users_by_reports.each do |user| %>
              <tr>
                <td><%= link_to user.display_name, statuses_user_path(user) %></td>
                <td><%= user.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12"><p class="h3"><%= t('views.stats.index.total_ranking') %></p></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.stores_by_reports') %></h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= Store.model_name.human(count: 1) %></th>
              <th><%= t('views.stats.index.total') %></th>
            </tr>
          </thead>
          <tbody>
            <% @stores_by_reports.each do |store| %>
              <tr>
                <td><%= link_to store.name, statuses_store_path(store) %></td>
                <td><%= store.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= t('views.stats.index.users_by_reports') %></h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th><%= User.model_name.human(count: 1) %></th>
              <th><%= t('views.stats.index.total') %></th>
            </tr>
          </thead>
          <tbody>
            <% @users_by_reports.each do |user| %>
              <tr>
                <td><%= link_to user.display_name, statuses_user_path(user) %></td>
                <td><%= user.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
