<div class="row mt-4">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <%= t('views.beaches.form.info_deleting') %>
    </div>
    <%= form_with(model: beach, url: beach.new_record? ? beaches_path : beach_path(beach),
                  scope: :beach, method: beach.new_record? ? :post : :patch, local: true) do |form| %>
      <% if beach.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(beach.errors.count, "error") %> impediram store de ser guardado:</h2>

          <ul>
            <% beach.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :state, class: "col-sm-4 col-form-label" %>
          <% if can? :manage_state, Store %>
            <%= form.select :state, enum_options_for_select(Store, :state), {}, class: "form-control" %>
          <% else %>
            <span class="form-control"><%= enum_l(form.object, :state) %></span>
          <% end %>
          <small class="form-text text-muted">
            <%= t('views.beaches.form.help_state_html') %>
          </small>
        </div>

        <%= form.hidden_field :store_type, value: beach.store_type || :beach %>

        <div class="form-group col-md-6">
          <%= form.label :open, class: "col-sm-4 col-form-label" %>
          <div class="col-sm-10">
            <%= form.check_box :open, class: 'form-control' %>
          </div>
          <small class="form-text text-muted">
            <%= t('views.beaches.form.help_open') %>
          </small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :name, class: "col-sm-4 col-form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group col-md-6">
          <%= form.label :capacity, class: "col-sm-4 col-form-label" %>
          <%= form.number_field :capacity, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <%= form.label :street, class: "col-sm-4 col-form-label" %>
          <%= form.text_field :street, class: "form-control" %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label :zip_code, class: "col-sm-8 col-form-label" %>
          <%= form.text_field :zip_code, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <%= form.label :city, class: "col-sm-3 col-form-label" %>
          <%= form.text_field :city, class: "form-control" %>
        </div>

        <div class="form-group col-md-3">
          <%= form.label :municipality, class: "col-sm-3 col-form-label" %>
          <%= form.text_field :municipality, class: "form-control" %>
        </div>

        <div class="form-group col-md-3">
          <%= form.label :district, class: "col-sm-3 col-form-label" %>
          <%= form.text_field :district, class: "form-control" %>
        </div>

        <div class="form-group col-md-3">
          <%= form.label :country, class: "col-sm-3 col-form-label" %>
          <%= form.text_field :country, class: "form-control" %>
          <small class="form-text text-muted">
            <%= t('views.beaches.form.help_country') %>
          </small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :latitude, class: "col-sm-4 col-form-label" %>
          <%= form.text_field :latitude, class: "form-control" %>
          <small class="form-text text-muted">
            <%= t('views.beaches.form.help_coordinates') %>
          </small>
        </div>

        <div class="form-group col-md-6">
          <%= form.label :longitude, class: "col-sm-4 col-form-label" %>
          <%= form.text_field :longitude, class: "form-control" %>
          <small class="form-text text-muted">
            <%= t('views.beaches.form.help_coordinates') %>
          </small>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :details, class: "col-sm-4 col-form-label" %>
        <%= form.text_area :details, class: "form-control" %>
      </div>

      <% if current_user.admin? %>
        <div class="form-group">
          <%= form.label :source, class: "col-sm-4 col-form-label" %>
          <%= form.text_field :source, class: "form-control" %>
        </div>
      <% end %>

      <hr>
      <h5><%= t('views.beaches.form.beach_attributes') %></h5>
      <%= form.fields_for :beach_configuration do |builder| %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= builder.label :season_start, class: "col-sm-4 col-form-label" %>
            <%= builder.date_field :season_start,  class: "form-control" %>
          </div>
          <div class="form-group col-md-6">
            <%= builder.label :season_end, class: "col-sm-6 col-form-label" %>
            <%= builder.date_field :season_end,  class: "form-control" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= builder.label :water_classification, class: "col-sm-8 col-form-label" %>
            <%= builder.text_field :water_classification,  class: "form-control" %>
          </div>
          <div class="form-group col-md-6">
            <%= builder.label :sapo_code, class: "col-sm-6 col-form-label" %>
            <%= builder.text_field :sapo_code,  class: "form-control" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <%= builder.label :guarded, class: "col-sm-4 col-form-label" %>
            <%= builder.check_box :guarded, class: "form-control" %>
          </div>

          <div class="form-group col-md-4">
            <%= builder.label :first_aid_station, class: "col-sm-8 col-form-label" %>
            <%= builder.check_box :first_aid_station,  class: "form-control" %>
          </div>

          <div class="form-group col-md-4">
            <%= builder.label :wc, class: "col-sm-4 col-form-label" %>
            <%= builder.check_box :wc,  class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <%= builder.label :showers, class: "col-sm-4 col-form-label" %>
            <%= builder.check_box :showers,  class: "form-control" %>
          </div>

          <div class="form-group col-md-4">
            <%= builder.label :accessibility, class: "col-sm-4 col-form-label" %>
            <%= builder.check_box :accessibility,  class: "form-control" %>
          </div>

          <div class="form-group col-md-4">
            <%= builder.label :garbage_collection, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :garbage_collection,  class: "form-control" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <%= builder.label :cleaning, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :cleaning,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :info_panel, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :info_panel,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :parking, class: "col-sm-4 col-form-label" %>
            <%= builder.check_box :parking,  class: "form-control" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <%= builder.label :beach_support, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :beach_support,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :water_chair, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :water_chair,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :construction, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :construction,  class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <%= builder.label :collapsing_risk, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :collapsing_risk,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :bathing_support, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :bathing_support,  class: "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= builder.label :quality_flag, class: "col-sm-6 col-form-label" %>
            <%= builder.check_box :quality_flag,  class: "form-control" %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.submit t('views.form.submit'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
