<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<title><%= [yield(:page_title), I18n.t('views.layout.application.title')].compact.join(' | ') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'shared/nav' %>
    </header>
    <main role="main" class="flex-shrink-0">
      <% if Rails.env.development? %>
        <%= switch_user_select %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
