<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<title><%= [yield(:page_title).presence, t('views.layout.application.title')].compact.join(' | ') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

		<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= render 'shared/nav' %>
    </header>
    <main role="main" class="flex-shrink-0 nav-spacer">
      <div class="container">
        <% if Rails.env.development? %>
          <%= switch_user_select %>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <p class="small">
          <span class="float-left">
            <%= t('views.layout.application.title') %> &copy; <%= Time.current.year %>
          </span>
          <span class="float-right">
            <%= t('views.layout.application.page_time') %> <%= Time.current.strftime('%H:%M') %>
          </span>
        </p>
      </div>
    </footer>
  </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162538278-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162538278-1');
  </script>

</html>
